doctype html
html
  head
    title New Tec Build's
    link(rel='stylesheet', href='style.css')
    link(rel="shortcut icon" href="logo.png" type="image/x-icon")

  body
    include ../templates/head

    div(style="width: 40%; margin: auto;")
      p.main-text-title-huge(style="text-align: center;") - About -
      hr(style="width: 50%;")

      p.main-text-title(style="text-align: center;") - A little bit about me -

      p.main-text Hi, my name is Caleb. I am 14 and one of my passions is Engineering. I love to build things with my hands, and make new things, and build things that none else has built before. I love learning, and learning how things work. Like every time I go on a ride, or use something I think about how it actually works, and see of I can make it better. I also love repairing things. Its almost like a puzzle game, where you have to find clues, and fix them. I also hope that I can inspire people to do the same thing, and to try to make things better. Though we aren't ever going to make something that is flawless, and works perfectly, because of the curse in the Garden of Eden, when Adam and Eve ate of the fruit of Good and Evil, and there fore God cursed the earth.

    include ../templates/footer
