doctype html
html
  head
    title New Tec Build's
    link(rel='stylesheet', href='style.css')
    link(rel="shortcut icon" href="logo.png" type="image/x-icon")

  body
    div(style="width: 40%; margin: auto;")
      p.main-text-title-huge(style="text-align: center;") - Log In -
      hr(style="width: 50%;")

      p.main-text-title(style="text-align: center;") - Please type in the right stuff -

      form(action="/top-secret", method="post")
        input.inputs(placeholder="First Name", name="first_name")
        br
        input.inputs(placeholder="Last Name", name="last_name")
        br
        input.inputs(placeholder="Email", type="email", name="email")
        br
        textarea.inputs(placeholder="Message", style="width: 100%; height: 200px;", name="message")
        br
        button.nav-link-button(style="margin: 10px;", type="submit") Go on
