doctype html

html

  head
    title Tec Build

  body
    block main 
      div.header
        p.header-title <b>N</b> - <b>T</b> - <b>B</b>'s

        div.flex-horz
          a.nav-link(href="/") Home
          a.nav-link(href="/about") About
          a.nav-link(href="/blog") Blog
          a.nav-link(href="/contact") Contact
          div.flex-horz-op
            a.nav-link-button(href="#") Donate
