html
  head
    title New Tec Build's
    link(rel='stylesheet', href='style.css')
    link(rel="shortcut icon" href="logo.png" type="image/x-icon")

  body
    include ../templates/head

    div.main-area

      p.main-text-title-big Project -<b>Wafnet</b>-
      hr
      p.main-text-title What is Wafnet?

      p.main-text Wafnet is a online "virtual" ping pong game, where you can play with friends across the network, as long as they have the paddle connection piece, computer, and internet. 

      p.main-text-title How does it work?

      p.main-text Wafnet works by a bluetooth connection with your computer, then sends all the data, about the paddle. Like the location, rol, pitch, yaw, and so on. After computer receives the data, it sends it to the app. Then it moves the paddle in the game in the location, rotation, and speed of your paddle. I don't know how I am going to do a few part of this project, but I will get them figured out, as I get more into it.

      p.main-text-title How long will it take to make it?

      p.main-text The time that it will take me to make it, depends on how much money I have, so if I don't have enough I will have to put a pause on it, and waite till I have more.

      p.main-text-title How much is it going to cost to build it?

      p.main-text It won't cost me anything to build the app, except for time, but the thing that will cost me, is the paddle clip-on, that sends the signals and data to the computer through bluetooth. I am planing to make a prototype with arduino, then make it with PCB's, which will be in the production ones. I will also have to 3d print some small parts, and that also adds to the total cost. So if you wan't an estamate cost, it would be around 500 US dollars. Part of it for the 3d printer, then another part for the pieces, and PCBs. The 3D printer is going to cost about 200 US dollars, and the PCBs, and parts are going to cost about 50 US dollars, then you have the filament, which is about 25 to 40 dollars. After all that you have to add the shipping cost and taxes. So around 500 US dollars.

      p.main-text-title Is the app going to be free or paid?

      p.main-text The app is free, and open source. So anyone can edit it, and make changes to it.

      p.main-text-title Where am I going to find the funding for this?

      p.main-text Part of it will be from people's donations, and the other part from me working. So the more people donate the faster I can get it done, and the easier it will be.

      p.main-text-title What is going to be the purchasing price?

      p.main-text I am wanting for the purchasing price to be around 20 to 30 US dollars. I want the product to be good quality, and very affordable.

      a.nav-link(href="/blog") See other posts ->

    include ../templates/footer